<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Servlets.Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlets.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Stocks</servlet-name>
        <servlet-class>Servlets.Stocks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Stocks</servlet-name>
        <url-pattern>/stocks</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckUserServlet</servlet-name>
        <servlet-class>Controller.CheckUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckUserServlet</servlet-name>
        <url-pattern>/checkUser</url-pattern>
    </servlet-mapping>    
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Servlets.Registration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Usermenu</servlet-name>
        <servlet-class>Servlets.Usermenu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Usermenu</servlet-name>
        <url-pattern>/usermenu</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckRegistrationServlet</servlet-name>
        <servlet-class>Controller.CheckRegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckRegistrationServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BuyShares</servlet-name>
        <servlet-class>Controller.BuyShares</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuyShares</servlet-name>
        <url-pattern>/buyShares</url-pattern>
    </servlet-mapping>
</web-app>
